{% extends "mainApp/wrapper.html" %}

{% block content %}
<div class='container-fluid'>
<form action="/news/edit_post/save/" method="post">
  {% csrf_token %}
  <div class='cow'>
    <div class=''>
  <label for='title'>Название статьи</label>
  <input class='form-control' type='text' name='title' id='title' value={{articles.title}}>
    </div>
    <div class=''>
  <label for='text'>Содержание</label>
  <input class='form-control' type='text' name='text' id='text'  value={{articles.post}}>
    </div>
  <input class='button' type="submit" value="Сохранить">
</div>
</form>
</div>
{% endblock %}
