<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>EDLife</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    </head>
  <body>
    <header>
        <div class="navbar navbar-fixed-top" style="background-color:#4B2455">
              <div class="row" style="width:100%; height:100%;">
                  <div class="navbar-header col-lg-9 col-md-7 col-xs-3" style="padding-left:7%">
                      <a class="navbar-brand" href="/"><font color="white"><b color="white">EDLife</b></font></a>
                  </div>
                  <div class="btn-group col-lg-3 col-md-5 col-xs-9">
                      <div calss="btn-toolbar" role="toolbar">
                        <a class="btn btn-light btn-md" style="background-color:#55A29F"><font color="white">Войти</font></a>
                        <a class="btn btn-light btn-md" style="background-color:#FFFFFF"><font color=#4B2455>Регистрация</font></a>
                      </div>
                  </div>
              </div>
        </div>
      </header>


      <nav class="navbar navbar-expand-lg navbar-default bg-light" >
        <div class="container">
        <ul class="nav nav-tabs" role="tablist">
          <li class="active">
            <a class="nav-link" href="All" ><font color=#4B2455><small>Об о всём</small></font></a>
          </li>
          <li>
            <a class="nav-link" href="Eat"><font color=#4B2455><small>Еда</small></font></a>
          </li>
          <li>
            <a class="nav-link" href="Street"><font color=#4B2455><small>Свежий воздух</small></font></a>
          </li>
          <li>
            <a class="nav-link" href="Street"><font color=#4B2455><small>Лалала</small></font></a>
          </li>
          <li>
            <a class="nav-link" href="Street"><font color=#4B2455><small>Ещё что-то</small></font></a>
          </li>
          <li>
            <a class="nav-link" href="Street"><font color=#4B2455><small>И здесь</small></font></a>
          </li>
          <li>
            <a class="nav-link" href="Street"><font color=#4B2455><small>И тут</small></font></a>
          </li>
        </ul>
      </div>
    </nav>
<div class="row" style="padding:7%">
  <div class="col-lg-6">
    {% block content %}
    {% endblock %}
  </div>
  <div class="col-lg-3">
  </div>
</div>
<footer><hr/>Все права защищены</footer>
  </body>
</html>
<!---  Попытка шапки
<nav class="navbar navbar-defoult row" style="background-color:#9400d3">

  <div class="col-lg-10">
    <div class='row'>
      <div class="col-lg-1" align="right"><a class="navbar-brand" href="/">EdLife</a></div>
      <div class="col-lg-1" align="right"><a href="/"  class="btn btn-success btn-md" style="background-color:#9400d3">Главная</a></div>
    </div>
    </div>
      <div class="btn-group col-lg-2">
      <div class=""><a href="/news" class="btn btn-default btn-xs" style="background-color:#48d1cc"><font color="white">Вход</font></a></div>
      <div/>
      <div class="" ><a href='/contacts' class="btn btn-xs" style="background-color:#FFFFFF" ><font color=#9400d3>Регистрация</font></a></div>
    </div>

  </nav> --->
